/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$sans-serif: 'Open Sans', Helvetica, sans-serif;
$sans-serif--alt: 'Roboto', Helvetica, sans-serif;
$serif: Georgia, serif;

/* Definitions */
$body-font: $sans-serif;
$heading-font: $sans-serif--alt;

/* Sizes */
$xs-font-size: 14px !default;
$sm-font-size: 15px !default;
$lg-font-size: 16px !default;

$btn-font-size: 0.875rem;

$xl-font-size: 3.5rem;

/* Weights */
$bold-font-weight: 600;
$normal-font-weight: 400;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'blue': #0077CC,
  'cream': #EDEFEA,
  'gray-dark': #333333,
  'gray-light': #CCCCCC,
  'green': #216C2A,
  'red': #CC0000
);

/* Definitions */
$text-color: brand-color('gray-dark');
$link-color: brand-color('red');

$heading-color: $text-color;
$button-color: $link-color;

$border-color: brand-color('gray-light');

$header-bg-color: lighten($border-color, 18%);
$footer-bg-color: darken($header-bg-color, 10%);
$footer-text-color: darken($footer-bg-color, 40%);

$money-color: brand-color('green');

/* Social */
$facebook: #415696;
$twitter: #4FA6DD;

/*
Breakpoints
 */
$break-xs: 35rem;
$break-sm: 48rem;
$break-md: 62rem;
$break-lg: 75rem;
$break-xl: 90rem;

// grid gutter width
$gutter-width: 1.25rem !default;

/*
Margins
 */
$margin-p: 1.3rem;
