/**
 * _footer.scss
 */

/*
Footer
 */
.site-footer {
  color: $footer-text-color;
  background-color: $footer-bg-color;

  a {
    color: $footer-text-color;
    border-bottom: 1px dotted $footer-text-color;
  }
}

/*
Sticky Footer
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1 1 auto;
}
