/**
 * _footer.scss
 */

/*
Footer
 */
.site-footer {
  font-size: $btn-font-size;
}

/*
Footer: Top
 */
.site-footer__top {}

/*
Footer: Bottom
 */
.site-footer__bottom {}

/*
Sticky Footer
 */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1 1 auto;
}