/**
 * _header.scss
 */

/*
Header
 */
.site-header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: $header-bg-color;
  border-bottom: 1px solid darken($header-bg-color, 1.5%);
  z-index: 100;

  a {
    @include link-color(black, $link-color);
  }
}

/* Sticky setup */
#masthead-sticky-wrapper {
  position: relative;
  z-index: 100 !important;
}
#masthead {
  width: 100%;
  @include animate(margin);
}
.admin-bar {
  .is-sticky #masthead {
    margin-top: 46px;
  }
}
@media only screen and (min-width: 783px) {
  .admin-bar {
    .is-sticky #masthead {
      margin-top: 32px;
    }
  }
}

/* Logo */
.site-title {
  height: 42.66px;

  @include break-sm {
    height: auto;
  }
}
.site-logo {
  width: 75px;

  @include break-sm {
    width: 100px;
  }
  @include break-md {
    width: 125px;
  }
}

/*
Nav: Main
 */
.main-navigation {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    &.active a {
      color: $link-color;
    }       
  }
  a {
    padding: 0.25rem;
    font-size: $btn-font-size;
    text-transform: uppercase;
  }

  &.toggled .nav-menu {
    display: block !important;
  }

  @include break-sm {
    li {
      display: inline-block;
      margin: 0.25rem 0;   
    }
    a {
      padding: 0.625rem;
      font-weight: $bold-font-weight;
    }
  }
  @include break-md {
    a {
      font-size: 0.875rem;
    }
  }
}

/*
Mobile Nav
 */
.main-navigation {
  &.toggled {
    .menu-top-nav-container {
      position: absolute;
      top: 100%; left: 0;
      padding: 2rem 1.25rem;
      width: 100%;
      height: 100vh;
      min-height: 100%;
      text-align: center;
      background-color: rgba(white, 0.95);
      z-index: 99;

      li {
        display: block;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        font-family: $heading-font;
        font-size: $h3;
        line-height: 1.2;
      }
    }
  }

  /* Toggle */
  .menu-toggle {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
}
